
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
