<template>
    <div class="container">
        <div class="row justify-content-left">
            <div  class="col-md-12 mt-5">
                <h3>
                    Comments
                </h3>
            </div>
        </div>

        <loader :active="loading"></loader>

        <div v-if="!loading" class="row justify-content-center">

            <div v-for="comment of comments" class="col-md-12 ">

                <div v-if="!loading" class="table mt-5">
                    <comment-item :comment="comment"></comment-item>
                </div>
            </div>
        </div>

        <div  v-if="!loading && canAddComment" class="row justify-content-center">

            <div  class="col-md-12 ">

                <div class="table mt-5">
                    <comment-create :filmId="filmId" @send="receiveComment($event)"></comment-create>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import { CommentsService } from '../../services/comments.service.js'
    import { UsersService } from '../../services/users.service.js'

    export default {
        props: ['filmId'],

        data: function() {
            return{
                comments: [],
                loading: true,
                currentFilm: 0,
                canAddComment: false,
            }
        },


        async mounted() {

            try {
                this.comments = await CommentsService.getListOfComments(this.filmId);
                let auth = await UsersService.isAuthenticated();
                this.canAddComment = auth.auth;
                this.loading = false;

            } catch (e) {
                this.errors.push(e)
            }
        },

        methods:
        {
            receiveComment(comment) {
                this.comments.push(comment);
            }
        }
    }
</script>
