<template>
    <div class="container">

        <div v-if="!saving">
            <div class="row justify-content-left">
                <div><h1>Create comment</h1></div>
            </div>
            <div class="row justify-content-center">

                <div  class="col-md-8">
                    <form>
                        <div class="form-group">
                            <label >Name</label>
                            <input v-model="comment.name"  class="form-control" i>
                        </div>

                        <div class="form-group">
                            <label >Comment</label>
                            <textarea v-model="comment.comment" class="form-control" rows="5"></textarea>
                        </div>

                        <div v-if="errMsg" class="form-group">
                            <div class="alert alert-danger" role="alert">
                              {{ errMsg }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="row justify-content-right">
                <div  class="col-md-12">
                    <button @click="save()" type="button" class="btn btn-success mt-5 float-right">
                        <loader :active="saving" :label="'Saving'"></loader>
                        <span v-if="!saving"> Save </span>
                    </button>
                </div>
            </div>

        </div>


    </div>


</template>

<script>
    import { CommentsService } from '../../services/comments.service.js'

    export default {
        props: ['filmId'],

        data: function() {
            return{
                comment: {
                },
                loading: true,
                saving: false,
                errMsg: null,

            }
        },


        async mounted() {
        },

        methods: {

            async save()
            {
                this.errMsg = null;

                try {
                    this.saving = true;
                    let newComment = await CommentsService.saveComment(this.comment, this.filmId);
                    this.$emit('send', this.comment)
                } catch (e) {
                    this.errMsg = "Form have some errors - be sure that each field is not empty!";
                    this.saving = false;
                }

                console.log(this.comment);
            }
        }
    }
</script>


<style scoped>
.img_size {
   width: 200px;
}

.cursor-pointer {
  cursor: pointer;
}
</style>