<template>
    <div class="container">
        <div v-if="comment" class="row justify-content-left">
            <div  class="col-md-2">
                <img class="img_size" :src="comment.photo">
            </div>
            <div  class="col-md-8">

                <div class="table">
                    <div class="card-body">
                        <h5 class="card-title">
                            <small>Name:</small> {{ comment.name }}
                        </h5>
                        <p class="card-text">
                            <small>Comment:</small> {{ comment.comment }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import { RouteService } from '../../services/route.service.js'

    export default {
        props: ['comment'],

        data: function() {
            return{

            }
        },
    }
</script>


<style scoped>
.img_size {
   width: 200px;
}
</style>