<template>
    <div class="container">
        <div v-if="film" class="row justify-content-left">
            <div  class="col-md-4">
                <img class="img_size" :src="film.photo">
            </div>
            <div  class="col-md-8">

                <div class="table">
                    <div class="card-body">
                        <h5 class="card-title">
                            <small>Title:</small> {{ film.name }}
                        </h5>
                        <p class="card-text">
                            <small>Release date:</small> {{ film.release_date }}
                        </p>

                        <p class="card-text">
                            <small>Rating:</small> {{ film.rating }}/5
                        </p>

                        <p class="card-text">
                            <small>Genre:</small>
                            <span class="mr-1" v-for="genre of film.genre"> <kbd>{{ genre }}</kbd> </span>
                        </p>


                        <p class="card-text">
                            <small>Deatils:</small>

                            <button @click="goToDetails" type="button" class="btn btn-primary mr-5"> Details > </button>

                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import { RouteService } from '../../services/route.service.js'

    export default {
        props: ['film'],

        data: function() {
            return{

            }
        },


        async mounted() {


        },

        methods: {
            goToDetails() {
                RouteService.redirectToFilmDetails(this.film.slug);
            },
        }
    }
</script>


<style scoped>
.img_size {
   width: 200px;
}
</style>