<template>
    <div class="container">
        <loader :active="loading"></loader>
        <div  v-if="!loading">
            <div class="row justify-content-left">
                <div><h1>Create film</h1></div>
            </div>
            <div class="row justify-content-center">

                <div  class="col-md-8">
                    <form>
                        <div class="form-group">
                            <label >Title</label>
                            <input v-model="film.name"  class="form-control" i>
                        </div>

                        <div class="form-group">
                            <label >Release date</label>
                            <input v-model="film.release_date" type="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Rating</label>
                            <select v-model="film.rating" class="form-control" >
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ticket price</label>
                            <input v-model="film.ticket_price" type="number" step="0.01" class="form-control">
                        </div>

                        <div class="form-group">
                            <label >Country</label>
                            <input v-model="film.country"  class="form-control" i>
                        </div>

                        <div class="form-group">
                            <label class="mr-5"> Genre </label>

                            <span class="mr-1 mb-1" v-for="genre of film.genre">
                                <kbd>
                                    {{ genre }}&nbsp;<span @click="removeGenre(genre)" class="cursor-pointer">x</span>
                                </kbd>
                            </span>

                            <select @change="genreSelection($event.target.value)"  class="form-control mt-2">
                                <option value="" disabled selected>Select genre</option>
                                <option v-for="genre of genreList">{{ genre }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label >Description</label>
                            <textarea v-model="film.description" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label >Photo</label>
                            <input id="input-field-file" type="file"  accept=".jpg, .jpeg, .png, .gif" @change="photoUpload($event)" />
                        </div>

                        <div v-if="errMsg" class="form-group">
                            <div class="alert alert-danger" role="alert">
                              {{ errMsg }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="row justify-content-right">
                <div  class="col-md-12">
                    <button @click="save()" type="button" class="btn btn-success mt-5 float-right">
                        <loader :active="saving" :label="'Saving'"></loader>
                        <span v-if="!saving"> Save </span>
                    </button>
                </div>
            </div>
         </div>


        <button @click="goBackToList()" type="button" class="btn btn-dark mt-5"> < Go back to list </button>
    </div>


</template>

<script>
    import { FilmsService } from '../../services/films.service.js'
    import { RouteService } from '../../services/route.service.js'

    export default {
        props: ['filmId'],

        data: function() {
            return{
                film: {
                    release_date: '2018-05-20',
                    genre: [],
                },
                loading: true,
                saving: false,
                genreList: [],
                photo: null,
                errMsg: null,

            }
        },


        async mounted() {
            try {
                this.genreList = await FilmsService.getGenreList();
                this.loading = false;
            } catch (e) {
                this.errors.push(e)
            }

        },

        methods: {
            goBackToList() {
                RouteService.redirectToListOfFilms() ;
            },

            genreSelection: function (genre) {
                if(this.film.genre.indexOf(genre)<0) {
                    this.film.genre.push(genre)
                }
            },

            removeGenre(genre) {
                this.film.genre.splice(this.film.genre.indexOf(genre), 1);
            },

            photoUpload(event) {
                let files = event.target.files || event.dataTransfer.files;
                this.photo = files[0];
            },

            async save() {
                this.errMsg = null;
                if(!this.photo) {
                    this.errMsg = "Chose photo before save!";
                    return;
                }

                try {
                    this.saving = true;
                    this.genreList = await FilmsService.saveFilm(this.film, this.photo);
                    RouteService.redirectToListOfFilms();
                } catch (e) {
                    this.errMsg = "Form have some errors - be sure that each field is not empty and have proper value!";
                    this.saving = false;
                }

                console.log(this.film);
            }
        }
    }
</script>


<style scoped>
.img_size {
   width: 200px;
}

.cursor-pointer {
  cursor: pointer;
}
</style>