<template>
    <div class="container">

        <div class="row justify-content-center">
            <div  class="col-md-12">
                <h1>
                    Films
                </h1>

                <div class="float-right">
                    <button @click="create" type="button" class="btn btn-success mr-5"> Create film </button>
                </div>

                <loader :active="loading"></loader>

                <div v-if="!loading" class="table mt-5">
                    <film-item :film="films[currentFilm]"></film-item>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <button @click="prev" type="button" class="btn btn-dark mr-5"> < Previous film</button>
            <button @click="next" type="button" class="btn btn-dark" >Next film > </button>
        </div>
    </div>
</template>

<script>
    import { FilmsService } from '../../services/films.service.js'
    import { RouteService } from '../../services/route.service.js'

    export default {
        data: function() {
            return{
                films: [],
                loading: true,
                currentFilm: 0,
            }
        },


        async mounted() {
            console.log('Component mounted.')


            try {
                this.films = await FilmsService.getListOfFilms();
                this.loading = false;
                console.log(this.films);
            } catch (e) {
                this.errors.push(e)
            }
        },

        methods: {
            next() {
                this.currentFilm = (this.currentFilm+1)%this.films.length
            },

            prev() {
                this.currentFilm = (this.currentFilm-1 + this.films.length)%this.films.length
            },

            create() {
                RouteService.goToCreateFilm();
            }
        }
    }
</script>
