<template>
    <div  class="container">

        <h1>Film details</h1>
        <loader :active="loading"></loader>

        <div v-if="!loading">
            <div  class="row justify-content-left">
                <div  class="col-md-4">
                    <img class="img_size" :src="film.photo">
                </div>
                <div  class="col-md-8">

                    <div class="table">
                        <div class="card-body">
                            <h5 class="card-title">
                                <small>Title:</small> {{ film.name }}
                            </h5>
                            <p class="card-text">
                                <small>Release date:</small> {{ film.release_date }}
                            <p/>

                            <p class="card-text">
                                <small>Rating:</small> {{ film.rating }}/5
                            </p>

                            <p class="card-text">
                                <small>Ticket price:</small> {{ film.ticket_price }} $
                            </p>

                            <p class="card-text">
                                <small>Country:</small> {{ film.country }}
                            </p>

                            <p class="card-text">
                                <small>Genre:</small>
                                <span class="mr-1" v-for="genre of film.genre"> <kbd>{{ genre }}</kbd> </span>
                            </p>



                        </div>
                    </div>

                </div>
            </div>

            <div class="row justify-content-center">
                <div  class="col-md-12">
                    <h3 class="mt-5">Description</h3>
                    <p class="card-text">
                        {{ film.description }}
                    </p>
                </div>
            </div>

            <div v-if="filmId" class="row justify-content-left">
                <comment-list :filmId="filmId"></comment-list>
            </div>

        </div>

        <button @click="goBackToList()" type="button" class="btn btn-dark mt-5"> < Go back to list </button>
    </div>


</template>

<script>
    import { FilmsService } from '../../services/films.service.js'
    import { RouteService } from '../../services/route.service.js'

    export default {
        props: ['filmId'],

        data: function() {
            return{
                film: null,
                loading: true,
            }
        },


        async mounted() {
            try {
                this.film = await FilmsService.getFilm(this.filmId);
                this.loading = false;
            } catch (e) {
                this.errors.push(e)
            }

        },

        methods: {
            goBackToList() {
                RouteService.redirectToListOfFilms();
            },
        }
    }
</script>


<style scoped>
.img_size {
   width: 200px;
}
</style>